body {
  margin: 0;
  font-family: "Karla", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 90vh;
  overflow-x: hidden;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background: linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    
}
.header--title{
  background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #78ffd6, #a8ff78);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}

.header--image {
  height: 45px;
  margin-left: -19px;
  padding: 0px 4px;
}
.header--title {
font-size: 1.25rem;
 margin-right: auto;
}

/* form css */

.form {
  padding: 36px;
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}
.form--input:focus{
  outline: 4px solid #3f78fd;
  outline-offset: 0;
}
.form--button {
  grid-column: 1 / -1;
  border-radius: 5px;
  color: white;
  font-family: "Karla", sans-serif;
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: none;
  cursor: pointer;
  width: 40%;
  margin: auto;
  height: 150%;
  word-spacing: 0px;
}

.meme {
  position: relative;
}

.meme--image {
  border-radius: 3px; 
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70%;
}

.meme--text {
  position: absolute;
  width: 50%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 4px;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 0 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000, -1px 0 0 #000,
    1px 1px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

@media only screen and (max-width: 414px) {
  .meme--image{
    display: flex;
    justify-content: center;
  }
  .form{
    padding:  5px;
    margin: auto; 
    margin-top: 12px;
    display: flex;
    flex-direction: column;
  }
  .form--input{
    width: 70%;
    margin: auto;
  }
  .meme--image{
    margin-top: 12px;
  }
  .form--button{
    width: 50%;
    margin: auto;
    height: 90%;
  }
  .downloadbutton{
    width: 50%;
    margin: auto;
    height: 90%;
  }
  .form-switch{
    display: block;
    margin: auto;
    
  }
}
/* 385px */
@media only screen and (max-width:1599px) {
  body{
    overflow-y: hidden;
  }
  
}


@media only screen and (max-width:280px ) {
   .navbar{
    width: 100%;
    overflow-x: hidden;
   }
   .form{
     padding: 0px 0px;
     display: flex;
     justify-content: center;
     flex-direction: column;
   }
   .form--input{
     width: 70%;
     margin: auto;
   }
   .form--button{
    margin-top: 15px;
   }
   .meme--image{
     margin-top: 12px;
   }
   .downloadbutton{
    margin-top: 15px;
   }
}
.downloadbutton{
  grid-column: 1 / -1;
  border-radius: 5px;
  color: white;
  font-family: "Karla", sans-serif;
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #240b36,
    #c31432
   ); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: none;
  cursor: pointer;
  width: 40%;
  margin: auto;
  height: 150%;
}
.downloadbutton:hover{
  color: white;
}
.centerbuttons{
  display: flex;
  width: 100%;
  padding: 0px 12px;
}

.form--button:hover{
  background: #687ff5;
  box-shadow: 0 5px 15px rgb(0, 56, 240);
}

.downloadbutton:hover{
  background: #45ed50;
  /* background: rgba(255, 255, 255, 1); */
  box-shadow: 0 5px 15px rgba(0, 255, 38, 0.668);
}

/* for specfic devices  */
@media screen and (width: 540px), 
       screen and (height: 720px) {
        .downloadbutton{
          width: 100%;
          height: 430%;
          margin-left: 12px;
        }
        .form--button{
          width: 100%;
          height: 430%;
        }
        .centerbuttons{
          margin-bottom: 23px;
        }
      }

@media screen and (width: 768px), 
      screen and (height: 1024px) {
        .downloadbutton{
          height: 183%;
        }
      }